@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

  .raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* shared style */
  body{
    max-width: 1440px;
    margin: 0px auto;

  }
   /* nav style */

   nav{
    max-width: 1160px;
    margin: 0px auto;
display: flex;
justify-content: space-between;
height: 62px;
   }
   .school{
    display: flex;
    gap: 11px;
   }
   .school >img{
width: 62px;
height: 62px;
   }
   ul{
    list-style: none;
    display: flex;
    gap: 32px;
   }
   .nav-1{
font-size: 1.25rem;
font-weight: bold;
color: orange;
   }
   .nav-2{
    font-size: 1.25rem;
    font-weight: bold;
    color: skyblue;
   }
   .nav-3{
    font-size: 1.25rem;
    font-weight: bold;
    color: #05D4DF;

   }
   .nav-4{
    font-size: 1.25rem;
    font-weight: bold;
    color: #5D58EF;
   }
   .nav-btn{
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: orange;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
   }
   .menu{
    display: none;
   }

   /* banner style */
   .banner{
max-width: 1158px;
margin: 0px auto;
display: flex;
gap: 50px;
   }
   .banner-contant{
    width: 640px;
   }
   .banner-title{
    font-size: 3.5rem;
    font-weight: bold;
   }
   .banner-pera{
    font-size: 1.25rem;
    font-weight: 400;
   }
   .banner-btn{
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: black;
    padding: 10px 47px;
    border-radius: 12px;
   }
   .banner >img{
    width: 468px;
    height: 575px;
   }
    /* curriculum style */
    .Curriculum{
      max-width: 1440px;
      margin: 0px auto;
      background-image: url(../assets/bg.png);
      background-position: top;
      border: 1px solid white;
           }
           #standard{
            font-size: 2.80rem;
            font-weight: bold;
            text-align: center;
        
           }
           .card{
            display: flex;
            max-width: 1160px;
            margin: 0px auto;
            gap: 28px;

           }
           .card-1{
      width: 367px;
      height: 476px;
    text-align: center;
           }
           .card-ti3{
            color: #64C8FF;
           }
           .card-ti2{
color: #F0AA00;
           }
        .card-ti1{
color: #8700FF;
        }
        .sado{
          border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
        }
        .sado-2{
          border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
        }
        .sado-3{
          border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
        }
        .card-1 >img{
          padding: 52px 115px 32px 115px;
        }






   /* media querey style */

   @media screen and (max-width: 576px) {
    ul, .nav-head, .nav-btn{
      display: none;
    }
    .menu{
      display: block;

    }
    .banner{
      flex-direction: column-reverse;
    }
    .banner-contant{
      width: 100%;
      text-align: center;
      
    }
    .banner >img{
      width: 100%;
      height: auto;
     }
     .card{
      flex-direction: column;
     }
     .card-1{
      width: 100%;
     }
     #standard{
      font-size: 1.50rem;
      font-weight: bold;
      width: 261px;
     }
     .Curriculum{
      justify-items: center;
     }
     

   }